<h1>Practica 6</h1>
<hr>
<br>
<h1>Tres en Raya</h1>
<br><br>

<div class="container">
  <div class="tablero">
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
    <button mat-button class="boton" ></button>
  </div>
</div>
