h1 {
  text-align: center;
  font-size: 50px;
  padding: 0px;
}

.tablero {
  margin: auto;
  width: 550px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 3em;
}

.boton {
  width: 150px;
  max-width: 33.33%;
  height: 150px;
  cursor: pointer; 
  border: 2px;
  border-style: solid;
  border-color: black;
}

.textoVictoria {
  visibility: hidden;
  color: rgb(150, 18, 18);
}